<div class="container-fluid">
  <div class="row">
    <div class="col-6 mx-auto">

      <h2 class=" py-4">Virtual Scroll with infinit data</h2>
      <h5>Git repo with name angular</h5>

      <cdk-virtual-scroll-viewport [ngStyle]="style" #CdkVirtualScrollViewport autosize itemSize class="list-group">
        <div *cdkVirtualFor="let li of data;let i = index" class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <div>
              <img src="{{ li.owner.avatar_url}}" alt="" class="rounded" width="40px">

              {{ li.name }}
            </div>
            <div>
              {{ li.created_at | date}}
            </div>
          </div>
        </div>
        <div *ngIf="isLoading" class="p-2 text-center">
          Loading .....
        </div>
      </cdk-virtual-scroll-viewport>

    </div>
  </div>
</div>
